<!DOCTYPE html>
<html>
  <head>
    <title><Node OHLC Server></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>OHLC Chart</h1>
    <p>Welcome to OHLC Server</p>
  </body>
</html>
